@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --color-primary: #FFFFFF;
    --color-secondary: #141414;
    --button-green: #38b94e;
    --button-red: #ef2d29;
    --button-blue: #046fb6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--color-primary);
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.logo {
    height: 3.25rem;
}

.button-header {
    color: var(--color-secondary);
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltip-text {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-90%);
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-size: 0.75rem;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    transition: opacity 0.3s, visibility 0.3s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}



main {
    height: calc(100vh - 62px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

main h1 {
    font-size: 4.5rem;
}

.buttons-main {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.buttons-main button {
    width: 150px;
    color: var(--color-primary);
    font-size: 1.25rem;
    font-weight: 600;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.buttons-main button:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#btn-one {
    background-color: var(--button-green);
}

#btn-two {
    background-color: var(--button-red);
}

#btn-tree {
    background-color: var(--button-blue);
}



footer {
    background-color: #141414;
    color: var(--color-primary);
    padding: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.description-footer {
    width: 80%;
    text-align: justify;
}

.description-footer p{
    font-size: 0.9rem;
}

.social-media {
    list-style: none;
    font-size: 1.5rem;
    display: flex;
    gap: 20px;
}

.social-media li a {
    color: var(--color-primary);
    text-decoration: none;
    cursor: pointer;
    transition: 1s;
}

.social-media li a i:hover {
    transform: scale(1.2);
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: var(--color-primary);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.close {
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
}

.textfield label {
    display: inline-block;
    font-weight: 600;
}

.textfield input {
    display: block;
    width: 100%;
    border: 2px solid #a5a4a456;
    border-radius: 8px;
    padding: 10px;
    font-size: 0.9rem;
    outline: none;
    box-sizing: border-box;
}

.error input {
    border: 2px solid var(--button-red);
}

#pomodoroForm button {
    color: var(--button-green);
    background-color: var(--color-primary);
    border: solid var(--button-green);
    font-size: 1rem;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 8px;
    cursor: pointer;
}

#pomodoroForm button:hover {
    background-color: var(--button-green);
    color: var(--color-primary);
}



@media only screen and (max-width:600px) {
    .buttons-main {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .description-footer {
        width: 100%;
        margin-bottom: 5%;
    }
}